<header>
  <div class='container'>
    <h1>Sign Up</h1>
    <p class='lead'>Already have an account? <%= link_to "Sign In", new_user_session_path %></p>
  </div>
</header>
<div class="container">
  <div class='row'>
    <div class='span7 offset3'>
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { multipart: true, class: "form-horizontal well well-elderflower"}) do |f| %>
        <%= content_tag :fieldset do %>
          <legend>Information</legend>
          <div class='control-group'>
            <%= f.label :name, class: 'control-label' %>
            <div class='controls'>
              <%= f.text_field :name, placeholder: "Your Name", autofocus: true %>
            </div>
          </div>
          <div class='control-group'>
            <%= f.label :email, class: 'control-label' %>
            <div class='controls'>
              <%= f.email_field :email, placeholder: "E-mail" %>
            </div>
          </div>
          <div class='control-group'>
            <%= f.label :avatar, class: 'control-label' %>
            <div class='controls'>
              <%= image_tag("http://placehold.it/140x140", class: 'img-polaroid') %>
              <p><%= f.file_field :avatar %></p>
            </div>
          </div>
          <div class='control-group'>
            <%= f.label :password, class: 'control-label' %>
            <div class='controls'>
              <%= f.password_field :password, placeholder: "Password" %>
            </div>
          </div>
          <div class='control-group'>
            <%= f.label :password_confirmation, 'Retype' ,class: 'control-label' %>
            <div class='controls'>
              <%= f.password_field :password_confirmation, placeholder: "Password confirmation" %>
            </div>
          </div>
        <% end %>
        <div class='form-actions'>
          <%= f.hidden_field :type, value: "Member" %>
          <%= f.submit "Sign up", class: 'btn btn-success span3' %>
        </div>
      <% end %>
    </div>
  </div>
</div>