<legend>
  Shipping Address
  <div class='pull-right'>
    <%= link_to new_cart_address_path(cart), remote: true, class: 'btn btn-small' do %>
      <i class='icon-plus'></i> New Address
    <% end %>
  </div>
</legend>
<div class="radios">
  <%= form_for(cart, url: cart_path(cart), remote: true, html: { class: 'form-horizontal' }) do |f| %>
    <% Address.where(user_id: current_user.id).includes(country: [:shipping_rate]).sort.each do |address| %>
      <%= content_tag_for :label, address do %>
        <%= f.radio_button :address_id, address.id, checked: ((params[:order] and params[:order][:address_id].to_i == address.id) || (not params[:order] and address.default)), data: { shipping_rate: address.country.shipping_rate.rate } %>
          <div class='row-fluid address'>
            <div class='span1 checked'>
              <i class='icon-ok-sign icon-white' class='hide'></i>
              <i class='icon-minus' class='hide'></i>
            </div>
            <div class='span9'><%= address.street_address %></div>
            <div class='span2'><span class='pull-right'><%= address.country.name %></span></div>
          </div>
      <% end %>
    <% end %>
    <% if Address.where(user_id: current_user.id).size == 0 %>
      <div class='alert alert-info'>Create new address</div>
    <% end %>
  <% end %>
</div>