<header>
  <div class='container'>
    <h1>Forgot your password?</h1>
    <p class='lead'><%= render "devise/shared/links" %></p>
  </div>
</header>
<div class='container'>
  <div class='row'>
    <div class='span7 offset3'>
      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, class: "form-horizontal well well-elderflower" }) do |f| %>
        <%= devise_error_messages! %>
        <%= content_tag :fieldset do %>
          <legend>Send me reset password instructions</legend>
          <div class='control-group'>
            <%= f.label :email, class: 'control-label' %>
            <div class='controls'>
              <%= f.email_field :email, class: 'input-large' %>
            </div>
          </div>
        <% end %>
        <div class='form-actions'>
          <%= f.submit "Confirm", class: 'btn btn-large btn-success span2' %>
        </div>
      <% end %>
    </div>
  </div>
</div>