<header>
  <div class='container'>
    <h1>Forgot your password?</h1>
    <p class='lead'><%= render "devise/shared/links" %></p>
  </div>
</header>
<div class='container'>
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, class: "form-horizontal clearfix" }) do |f| %>
    <%= devise_error_messages! %>
    <div class='row'>
      <div class='span8 offset2'>
        <%= content_tag :fieldset do %>
          <div class='control-group'>
            <%= f.label :email, class: 'control-label' %>
            <div class='controls'>
              <%= f.email_field :email, class: 'input-xlarge' %>
            </div>
          </div>
          <div class='form-actions'>
            <%= f.submit "Send me reset password instructions", class: 'btn btn-large btn-success' %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>