<div class="hero-unit">
  <div class="home-slide container">
    <h1>Shoping Cart</h1>
    <p class='lead'>Enjoy Shopping At Anytime</p>
    <p>
      <%= link_to "Register", new_user_registration_path, class: 'btn btn-success btn-large' unless current_user %>
    </p>
  </div>
</div>
<div class="initial">
  <div class='container'>
    <ul class="thumbnails">
      <% @products.each do |product| %>
        <li class="span4 home-item">
          <div class="span2"><%= link_to image_tag product.cover_url(:thumb), { size: '150x150' }  %></div>
          <div class="span3">
              <h4><%= product.name %></h4>
              <p>Price: <%= number_to_currency product.price %></p>
              <p><%= truncate(product.description, length: 200) %></p>
              <div class="btn-add-cart"><%= render 'carts/add_to_cart', product: product %></div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
