<div class='container'>
  <ul class="thumbnails">
    <% @products.each do |product| %>
    <li class="thumbnail home-thumnails">
      <div class="caption">
      <%= link_to product do %>
        <%= image_tag product.cover_url(:thumb), { size: '150x200' }  %>
        <h4><%= product.name %></h4>
      <% end %>
      <p>Price: <%= number_to_currency product.price %></p>
      <div class="home-add-cart"><%= render 'carts/add_to_cart', product: product %></div>
      </div>
    </li>
    <% end %>
  </ul>
</div>