<%= form_for @order, html: {class: 'form-horizontal'} do |f| %>
  <%= content_tag :fieldset do %>
    <legend>
      Shipping Address
      <div class='pull-right'>
        <%= f.collection_select :address_id, Address.where(user_id: current_user.id).sort, :id, :street_address, options = { include_blank: "&mdash; new address &mdash;".html_safe }, data: { remote: true, url: url_for(controller: 'orders', action: 'edit') } %>
      </div>
    </legend>
    <%= f.fields_for :address do |address_field| %>
      <%= render 'addresses/address', f: address_field %>
    <% end %>
    <div class='form-actions'>
      <%= f.submit "Purchase", class: 'btn btn-large btn-success span3' %>
    </div>
  <% end %>
<% end %>
