<div class="container">
  <div class="row">
    <div class="span6">
      <%= form_for(User.new, as: :user, url: registration_path(:user), html: { class: "form-horizontal well well-elderflower"}) do |f| %>
        <%= content_tag :fieldset do %>
          <legend>New Customers <small>&mdash; Register free and always will be.</small></legend>
          <div class='control-group'>
            <%= f.label :email, class: 'control-label' %>
            <div class='controls'>
              <%= f.email_field :email, placeholder: "Email", autofocus: true %>
            </div>
          </div>
          <div class='control-group'>
            <%= f.label :password, class: 'control-label' %>
            <div class='controls'>
              <%= f.password_field :password, placeholder: "Password" %>
            </div>
          </div>
          <div class='control-group'>
            <%= f.label :password_confirmation, 'Retype' ,class: 'control-label' %>
            <div class='controls'>
              <%= f.password_field :password_confirmation, placeholder: "Password confirmation" %>
            </div>
          </div>
        <% end %>
        <div class='form-actions'>
          <%= f.submit "Sign up", class: 'btn btn-success span3' %>
        </div>
      <% end %>
    </div>
    <div class="span6">
      <%= form_for("user", url: user_session_path, html: { class: "well well-elderflower sign-in no-actions" }) do |f| %>
        <%= content_tag :fieldset do %>
          <legend>Returning Customers</legend>
          <div class="form-inline form-field">
            <%= f.email_field :email, placeholder: "Your Email", class: 'input-medium' %>
            <%= f.password_field :password, placeholder: "Password", class: 'input-medium' %>
            <%= f.submit "Sign in", class: 'btn btn-success btn-medium' %>
          </div>
          <div class='form-inline form-helper'>
            <%= f.label :remember_me, class: 'checkbox' do %>
              <%= f.check_box :remember_me %> Remember Me
            <% end %>
            <%= link_to "Forgot your password?", new_password_path('user'), class: 'pull-right' %>
          </div>
        <% end %>
      <% end %>
      <div class="well well-elderflower no-actions">
        <%= content_tag :fieldset do %>
          <legend>Checkout Now</legend>
          <p class='hide'>Proceed to checkout and you will have an opportunity to create an account at the end</p>
          <p>You do not need to create an account to checkout.</p>
          <p>You will have an option to create an account when you complete your order.</p>
          <span class='pull-right'><%= link_to 'Continue as a Guest', edit_cart_path(current_order), class: 'btn btn-primary' %></span>
        <% end %>
      </div>
    </div>
  </div>
</div>