<div class="container">
  <div class="row">
    <div class="span12">
      <div class="row">
        <div class="span6">
          <%= form_for("user", url: user_session_path, html: { class: "well well-elderflower"}) do |f| %>
            <%= content_tag :fieldset do %>
              <h3>Sign in</h3>
              <div class="form-inline">
                <%= f.email_field :email, placeholder: "Your Email", class: 'input-medium' %>
                <%= f.password_field :password, placeholder: "Password", class: 'input-medium' %>
                <%= f.submit "Sign in", class: 'btn btn-success' %>
              </div>
              <div class="form-inline checkbox inline">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %> |
                <%= link_to "Forgot your password?", new_password_path('user') %>
              </div>
            <% end %>
          <% end %>
          <legend><center>OR</center></legend>
          <div class="well well-elderflower">
            <div class='control-group'>
            <center>
                <h3>Continue Without register</h3>
                <%= link_to 'Continue as a Guest', edit_cart_path(current_order), class: 'btn btn-primary' %>
              </center>
            </div>
          </div>
        </div>
        <div class="span6">
          <%= form_for("user", url: new_user_registration_path, html: { multipart: true, class: "form-horizontal well well-elderflower"}) do |f| %>
            <%= content_tag :fieldset do %>
              <h3>Sign up</h3>
              <p>It’s free and always will be.</p>
              <div class='control-group'>
                <%= f.label :email, class: 'control-label' %>
                <div class='controls'>
                  <%= f.email_field :email, placeholder: "E-mail" %>
                </div>
              </div>
              <div class='control-group'>
                <%= f.label :password, class: 'control-label' %>
                <div class='controls'>
                  <%= f.password_field :password, placeholder: "Password" %>
                </div>
              </div>
              <div class='control-group'>
                <%= f.label :password_confirmation, 'Retype' ,class: 'control-label' %>
                <div class='controls'>
                  <%= f.password_field :password_confirmation, placeholder: "Password confirmation" %>
                </div>
              </div>
              <div class='control-group'>
                <div class='controls'>
                  <%= f.submit "Sign up", class: 'btn btn-success btn-large span3' %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>