<div class='container'>
  <div class='row'>
    <div class='span8'>
      <div class='well well-elderflower'>
        <%= content_tag :fieldset, id: 'view_cart' do  %>
          <legend>Cart Items</legend>
          <%= render 'carts/items/items', cart: @cart %>
        <% end %>
        <%= content_tag :fieldset, id: 'shipping' do  %>
          <%= render 'carts/addresses/shipping', cart: @cart %>
        <% end %>
      </div>
    </div>
    <div class='span4'>
      <div id='current-total' class='well well-elderflower'>
        <%= content_tag :fieldset, class: 'content' do %>
          <%= render 'current_total', cart: @cart %>
        <% end %>
        <%= content_tag :fieldset, class: 'actions' do %>
        <%= form_for @cart, url: {controller: 'carts', action: :update}, html: {class: 'form-horizontal'} do |f| %>
          <%= f.hidden_field :address_id, value: @cart.address_id %>
          <%= f.hidden_field :state_event, value: 'purchase' %>
          <%= f.submit "Purchase", class: 'btn btn-block btn-success' %>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
