<td><%= image_tag cart_item.product.cover, { size: '50x50' } %></td>
<td><%= cart_item.product.name %></td>
<td>
  <%= form_for cart_item, remote: true do |f| %>
    <%= f.number_field :quantity, in: 1..cart_item.product.quantity, width: 1,  onChange: "this.form.submit.click();" %>
    <%= f.submit id: 'submit', class: 'hide' %>
  <% end %>
</td>
<td><%= number_to_currency(cart_item.unit_price) %></td>
<td><%= full_price(cart_item) %></td>