<%= form_for address, html: { class: 'form-horizontal' }, remote: true do |f| %>
  <div class='modal-header'>
    <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
    <h4><%= address.new_record? ? "New" : "Edit" %> Address</h4>
  </div>
  <div class='modal-body'>
    <%= content_tag :fieldset do %>
      <%= render 'addresses/form', f: f %>
    <% end %>
  </div>
  <div class='modal-footer'>
    <div class='pull-left'>
      <label class='checkbox'>
        <%= f.check_box :default %> Set this address as default
      </label>
    </div>
    <button class='btn' data-dismiss='modal' aria-hidden='true'>Close</button>
    <%= f.submit "Save", class: 'btn btn-success' %>
  </div>
<% end %>