<div class='container'>
    <h1>SHIPPING ADDRESS:</h1>
  </div>
</header>
<div class="container">
  <%= form_for(@address, html: { multipart: true, class: 'form-horizontal'}) do |f| %>
    <div class='clearfix'>
      <%= content_tag :fieldset, class: 'span7 offset2' do %>
        <div class='control-group'>
          <%= f.label :street_address, class: 'control-label' %>
          <div class='controls'>
            <%= f.text_area :street_address, size: "10x5", class: 'input-xlarge' %>
          </div>
        </div>
        <div class='control-group'>
          <%= f.label :city, class: 'control-label' %>
          <div class='controls'>
            <%= f.text_field :city, class: 'input-xlarge' %>
          </div>
        </div>
        <div class='control-group'>
          <%= f.label :state, class: 'control-label' %>
          <div class='controls'>
            <%= f.text_field :state, class: 'input-xlarge' %>
          </div>
        </div>
        <div class='control-group'>
          <%= f.label :zip, class: 'control-label' %>
          <div class='controls'>
            <%= f.number_field :zip, class: 'input-xlarge' %>
          </div>
        </div>
        <div class='control-group'>
          <%= f.label :country, class: 'control-label' %>
          <div class='controls'>
            <%= f.text_field :country, class: 'input-xlarge' %>
          </div>
        </div>
        <div class='control-group'>
            <%= f.label :phone, class: 'control-label' %>
          <div class='controls'>
            <%= f.phone_field :phone, class: 'input-xlarge' %>
          </div>
        </div>
        <div class='control-group'>
          <%= f.label :email, class: 'control-label' %>
          <div class='controls'>
            <%= f.email_field :email, class: 'input-xlarge' %>
          </div>
        </div>
        <div class='offset2'>
          <%= f.submit "Update", class: 'btn btn-large btn-success span3' %>
        </div>
      <% end %>
      </div>
  <% end %>
</div>