<div class="container">
  <%= @address.street_address %>
  <%= @address.city %>
  <%= @address.state %>
  <%= @address.zip %>
  <%= @address.country %>
  <%= @address.phone %>
  <%= @address.email %>
  <%= link_to 'Edit', edit_user_address_path(current_user,@address) %>
  <%= link_to "delete", user_address_path(current_user,@address), method: :delete, confirm: "You sure?" %>
</div>