<td><%= image_tag item.product.cover, { size: '50x50' } %></td>
<td><%= item.product.name %></td>
<td><%= item.quantity %></td>
<td><%= number_to_currency(item.unit_price) %></td>
<td><%= full_price(item) %></td>