<%= semantic_form_for [:admin, @category], html: { multipart: true } do |f| %>
  <fieldset class="inputs">
    <ol>
      <li><%= f.input :name %></li>
      <li><%= f.input :description %></li>
      <li>
        <% if @category.cover? %>
          <%= f.label :cover %>
          <%= image_tag @category.cover_url(:thumb) %>
        <% end %>
      </li>
      <li><%= f.input :cover %></li>
    </ol>
  </fieldset>
  <%= f.submit %>
<% end %>