<div class='container'>
  <div class='product'>
    <div class='product-header'><%= render_breadcrumbs separator: '&nbsp; /  &nbsp;' %></div>
    <div class="row-fluid">
      <div class='span7'>
        <div class='cover'>
          <%= image_tag @product.cover %></div>
        </div>
      <div class='span5'>
        <div class='product-title'>
          <h3><%= @product.name %> <small><%= @product.category.name %></small></h3>
        </div>
        Product availability: <%= @product.quantity %>
        </dl>
        <div class="form-inline">
          <h4>
            <%= number_to_currency @product.price %>
            <%= render 'products/add_to_cart', product: @product %>
          </h4>
        </div>
      </div>
    </div>
    <div class='clearfix'><br></div>
    <div class='row-fluid'>
      <div class='span12'>
        <h4>Description</h4>
        <%= simple_format @product.description %>
      </div>
    </div>
  </div.>
</div>