<div class='container'>
  <div class="row-fluid">
    <div class="span7">
      <div><%= image_tag @product.cover, { size: '450x400', crop: 'fill' } %></div>
    </div>
    <div class="span5">
      <p>Name: <%= @product.name %></p>
      <p>Quantity: <%= @product.quantity %></p>
      <span class="price">Price: <%= @product.price %></span>
      <%= link_to @product, class: 'btn btn-success' do %>
        <i class="icon-shopping-cart"></i>
        add to cart
      <% end %>
      <div class="product-description"><%= @product.description %></div>
    </div>
  </div>
  <div class="review">
    <h3>Review</h3>
    review
  </div>
</div>