<div class='container'>
  <div class="row-fluid">
    <div class="span7">
      <div><%= image_tag @product.cover, { size: '450x400', crop: 'fill' } %></div>
    </div>
    <div class="span5">
      <p>Name: <%= @product.name %></p>
      <p>Quantity: <%= @product.quantity %></p>
      <div class="price">Price: <%= number_to_currency @product.price %></div>
      <div class="form-inline add-cart-form">
        <%= render 'carts/add_to_cart', product: @product %>
      </div>
      <div class="product-description"><%= @product.description %></div>
    </div>
  </div>
  <div class="review">
    <h3>Review</h3>
    review
  </div>
</div>