<!DOCTYPE html>
<html>
<head>
  <title>Shopingcart</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %>">
  <%= render "layouts/shared/header" %>
  <%= yield %>
  <%= render "layouts/shared/footer" %>
</body>
</html>
