<!DOCTYPE html>
<html>
<head>
  <title>Shopingcart</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %>">
  <%= render "layouts/shared/header" %>
  <% flash.each do |name, msg| %>
   <div id='flash' class="alert alert-<%= name == :notice || name == :success ? "success" : "error" %>">
      <div class='container'>
        <a class="close">×</a>
        <%= msg %>
      </div>
    </div>
  <% end %>
  <%= yield %>
  <div id="cart_detail"></div>
  <%= render "layouts/shared/footer" %>
</body>
</html>
